doctype html
html
    head
        title Trang chủ
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet", href="assets/css/style.css")
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js") 
    body
        //- Tailwind
        //- Top HEAD
        div(class="bg-primary py-[10px]")
            div(class="container mx-auto relative")
                div(class="text-white sm:text-[14px] text-[12px] text-center ")
                    span Đăng ký để được giảm giá 20%.
                    a(class="underline font-bold sm:text-[14px] text-[12px] ml-[5px] cursor-pointer") Đăng Ký Ngay
                div(class="absolute top-[-2px] right-0 text-white text-[20px] cursor-pointer md:inline hidden" ) <i class="fa-solid fa-xmark"></i>
        //- End Top HEAD

        //- Header 
        div(class="p-[24px]")
            div(class="container flex mx-auto  items-center ")
                //- Icon Menu Mobile
                div(class="lg:hidden inline mr-[18px] sm:text-[24px] text-[20px]")
                    <i class="fa-solid fa-bars" ></i>
                //- Logo
                div(class="pr-[40px]")
                    a(class=" font-[700] sm:text-[32px] text-[24px]") 14.SHOP
                //- Menu
                nav(class="mr-[16px] lg:inline hidden")
                    ul(class="flex")
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Giới thiệu
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Sản phẩm
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Bài viết 
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Liên hệ

                //- Search Menu
               
                form(class="relative bg-[#F0F0F0] rounded-[62px] flex-1 flex py-[12px] px-[18px] sm:flex hidden")
                    input(type="text" placeholder="Tìm kiếm sản phẩm" class="w-full outline-0 pl-[30px] pr-[10px] bg-[#F0F0F0] opacity-80") 
                    button(type="submit" class="absolute left-[18px] absolute") <i class="fa-solid fa-magnifying-glass"></i>
                //- Action menu 
                div(class="sm:ml-[40px] sm:flex-none flex-1 text-right")
                    div(class="sm:hidden inline text-[20px]")
                        <i class="fa-solid fa-magnifying-glass"></i>
                    a(class="sm:text-[24px] text-[20px] sm:ml-0 ml-[14px]") <i class="fa-solid fa-cart-shopping"></i>
                    a(class="text-[24px] text-[20px] ml-[14px]") <i class="fa-regular fa-circle-user"></i>
        //- End Header

        //- Section 1
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto flex flex-wrap justify-between items-center sm:px-0 px-[16px]" )
                //- Content section 
                div(class="pt-[140px] md:w-[48%] w-full")
                    h2(class="uppercase xl:text-[48px] lg:text-[38px] text-[28px] font-[900] mb-[20px]") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="xl:text-[16px] text-[14px] text-black opacity-60 mb-[40px]") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    //- Button See now
                    a(class="sm:inline block sm:text-right text-center px-[64px] py-[16px] bg-black text-white rounded-[62px]") Xem Ngay
                    div(class="flex sm:flex-nowrap flex-wrap sm:mt-[50px] mt-[30px] sm:justify-left justify-center")
                        div(class="sm:pr-[32px] pr-0 sm:mr-[32px] mr-0 sm:w-auto w-[50%] text-black sm:border-r border-black sm:text-left text-center sm:justify-left justify-center")
                            div(class="xl:text-[40px] text-[24px] xl: font-[700] text-black ") 200+
                            div(class="xl:text-[16px] text-[14px] font-[400] text-black opacity-60") Thương Hiệu
                        div(class="pr-[32px] sm:mr-[32px] mr-0 sm:w-auto w-[50%]  text-black sm:border-r border-black sm:justify-left justify-center sm:text-left text-center")
                            div(class="xl:text-[40px] text-[24px] font-[700] text-black") 2,000+
                            div(class="xl:text-[16px] text-[14px] font-[400] text-black opacity-60") Sản Phẩm Chất Lượng
                        div(class="w-[100%] sm:text-left text-center sm:justify-left justify-center")
                            div(class="xl:text-[40px] text-[24px] font-[700] text-black") 30,000+
                            div(class="xl:text-[16px] text-[14px] font-[400] text-black opacity-60") Khách Hàng
                        
                //- End Content section 1
                //- Images
                div(class="md:w-[48%] w-full relative truncate")
                    img(class="w-full md:pt-[150px] pt-[50px] mb-[-2px]" src="assets/images/sec1-image-main.png")
                    img(class="absolute top-[46%] left-0 w-[56px] sm:inline-block hidden" src="assets/images/sec1-icon-star.svg")
                    img(class="absolute top-[14%] right-0 lg:w-[104px] sm:inline-block hidden" src="assets/images/sec1-icon-star-2.svg")
        //- Section 2
        div(class="bg-[#000000] sm:py-[28px] py-[25px]")
            div(class="container mx-auto sm:px-0 px-[16px] flex flex-wrap items-center justify-center")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]")
                    a(class="" href="#")
                        img(class="" src="assets/images/versace-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]")
                    a(class="" href="#")
                        img(class="" src="assets/images/zara-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]")
                    a(class="" href="#")
                        img(class="" src="assets/images/gucci-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]")
                    a(class="" href="#")
                        img(class="" src="assets/images/prada-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]")
                    a(class="" href="#")
                        img(class="" src="assets/images/comnklenin-logo.png" class="md:h-[34px] h-[22px] w-auto")
        //- SECTION 3
        div(class="bg-white lg:py-[62px] py-[42px]")
            div(class="container sm:px-0 px-[16px] mx-auto")
                h2(class="uppercase text-center lg:text-[48px] text-[32px] font-[700] lg:mb-[54px] mb-[32px]") Thời trang mới 
                //- List item
                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px] ")
                    //- item
                    div(class="")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-2.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Quần Jean Nam Phong Cách
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 480.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                //- Button see more
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(class="sm:inline-block block border border-black sm:py-[16px] py-[12px] sm:px-[63px] px-[50px] rounded-[62px]" href="#") Xem tất cả
                




                
