doctype html
html
    head
        title Trang chủ
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet", href="assets/css/style.css")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet")
        script(src="https://cdn.tailwindcss.com")
        script(src="tailwind.config.js") 
    body
        //- Tailwind
        //- Top HEAD
        div(class="bg-primary py-[10px]")
            div(class="container mx-auto relative")
                div(class="text-white sm:text-[14px] text-[12px] text-center ")
                    span Đăng ký để được giảm giá 20%.
                    a(class="underline font-bold sm:text-[14px] text-[12px] ml-[5px] cursor-pointer") Đăng Ký Ngay
                div(class="absolute top-[-2px] right-0 text-white text-[20px] cursor-pointer md:inline hidden" ) <i class="fa-solid fa-xmark"></i>
        //- End Top HEAD

        //- Header 
        div(class="p-[24px]")
            div(class="container flex mx-auto  items-center ")
                //- Icon Menu Mobile
                div(class="lg:hidden inline mr-[18px] sm:text-[24px] text-[20px]")
                    <i class="fa-solid fa-bars" ></i>
                //- Logo
                div(class="pr-[40px]")
                    a(class=" font-[700] sm:text-[32px] text-[24px]") 14.SHOP
                //- Menu
                nav(class="mr-[16px] lg:inline hidden")
                    ul(class="flex")
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Giới thiệu
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Sản phẩm
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Bài viết 
                        li(class="capitalize text-[16px] color-primary mr-[24px] cursor-pointer") Liên hệ

                //- Search Menu
               
                form(class="relative bg-[#F0F0F0] rounded-[62px] flex-1 flex py-[12px] px-[18px] sm:flex hidden")
                    input(type="text" placeholder="Tìm kiếm sản phẩm" class="w-full outline-0 pl-[30px] pr-[10px] bg-[#F0F0F0] opacity-80") 
                    button(type="submit" class="absolute left-[18px] absolute") <i class="fa-solid fa-magnifying-glass"></i>
                //- Action menu 
                div(class="sm:ml-[40px] sm:flex-none flex-1 text-right")
                    div(class="sm:hidden inline text-[20px]")
                        <i class="fa-solid fa-magnifying-glass"></i>
                    a(class="sm:text-[24px] text-[20px] sm:ml-0 ml-[14px]") <i class="fa-solid fa-cart-shopping"></i>
                    a(class="text-[24px] text-[20px] ml-[14px]") <i class="fa-regular fa-circle-user"></i>
        //- End Header

        //- Section 1
        div(class="bg-[#F2F0F1]")
            div(class="container mx-auto flex flex-wrap justify-between items-center sm:px-0 px-[16px]" )
                //- Content section 
                div(class="pt-[60px] md:w-[48%] w-full")
                    h2(class="uppercase xl:text-[48px] lg:text-[38px] text-[28px] font-[900] mb-[20px] " data-aos="fade-up" data-aos-duration="800") CHUYÊN THỜI TRANG PHONG CÁCH, HIỆN ĐẠI
                    div(class="xl:text-[16px] text-[14px] text-black opacity-60 mb-[40px]" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="150") Chúng tôi chuyên cung cấp nhiều loại quần áo được chế tác tỉ mỉ, được thiết kế để làm nổi bật cá tính của bạn và đáp ứng phong cách của bạn.
                    //- Button See now
                    a(class="sm:inline block sm:text-right text-center px-[64px] py-[16px] bg-black text-white rounded-[62px]" href="#" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="600") Xem Ngay
                    div(class="flex sm:flex-nowrap flex-wrap sm:mt-[50px] mt-[30px] sm:justify-left justify-center")
                        div(class="sm:pr-[32px] pr-0 sm:mr-[32px] mr-0 sm:w-auto w-[50%] text-black sm:border-r border-black sm:text-left text-center sm:justify-left justify-center" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="450")
                            div(class="xl:text-[40px] text-[24px] xl: font-[700] text-black ") 200+
                            div(class="xl:text-[16px] text-[14px] font-[400] text-black opacity-60") Thương Hiệu
                        div(class="pr-[32px] sm:mr-[32px] mr-0 sm:w-auto w-[50%]  text-black sm:border-r border-black sm:justify-left justify-center sm:text-left text-center" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="600") 
                            div(class="xl:text-[40px] text-[24px] font-[700] text-black") 2,000+
                            div(class="xl:text-[16px] text-[14px] font-[400] text-black opacity-60") Sản Phẩm Chất Lượng
                        div(class="w-[100%] sm:text-left text-center sm:justify-left justify-center" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="750")
                            div(class="xl:text-[40px] text-[24px] font-[700] text-black") 30,000+
                            div(class="xl:text-[16px] text-[14px] font-[400] text-black opacity-60") Khách Hàng
                //- End Content section 1
                //- Images
                div(class="md:w-[48%] w-full relative truncate")
                    img(class="w-full md:pt-[150px] pt-[50px] mb-[-2px]" src="assets/images/sec1-image-main.png" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="300")
                    img(class="absolute top-[46%] left-0 w-[56px] sm:inline-block hidden" src="assets/images/sec1-icon-star.svg" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="450")
                    img(class="absolute top-[14%] right-0 lg:w-[104px] sm:inline-block hidden" src="assets/images/sec1-icon-star-2.svg" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="450")
        //- Section 2
        div(class="bg-[#000000] sm:py-[28px] py-[25px]")
            div(class="container mx-auto sm:px-0 px-[16px] flex flex-wrap items-center justify-center")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]"  data-aos="fade-right" data-aos-duration="800"  data-aos-delay="300")
                    a(class="" href="#")
                        img(class="" src="assets/images/versace-logo.png" class="md:h-[34px] h-[22px] w-auto" )
                div(class="sm:mx-[30px] mx-[15px] my-[15px]"  data-aos="fade-right" data-aos-duration="800"  data-aos-delay="300")
                    a(class="" href="#")
                        img(class="" src="assets/images/zara-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]" data-aos="fade-right" data-aos-duration="800"  data-aos-delay="300")
                    a(class="" href="#")
                        img(class="" src="assets/images/gucci-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]"  data-aos="fade-left" data-aos-duration="800"  data-aos-delay="300")
                    a(class="" href="#")
                        img(class="" src="assets/images/prada-logo.png" class="md:h-[34px] h-[22px] w-auto")
                div(class="sm:mx-[30px] mx-[15px] my-[15px]"  data-aos="fade-left" data-aos-duration="800"  data-aos-delay="300")
                    a(class="" href="#")
                        img(class="" src="assets/images/comnklenin-logo.png" class="md:h-[34px] h-[22px] w-auto")
        //- SECTION 3
        div(class="bg-white lg:py-[62px] py-[42px]")
            div(class="container sm:px-0 px-[16px] mx-auto relative")
                h2(class="uppercase text-center lg:text-[48px] text-[32px] font-[700] lg:mb-[54px] mb-[32px]" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="150") Thời trang mới 
                //- List item
                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px] ")
                    //- item
                    div(class=""  data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="150")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-1.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Áo Thun Nam Đơn Giản
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]") 
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 120.000đ
                                span(class="hidden mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="hidden text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                    div(class=""  data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="300")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-2.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Quần Jean Nam Phong Cách
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 480.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                    div(class=""  data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="450")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-3.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Áo Sơ Mi Caro
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 220.000đ
                                span(class="hidden mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="hidden text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                    div(class=""  data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="600")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-4.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Áo Thun Nam Sọc Cam
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 126.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 180.000đ
                                span(class="text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -30%
                //- Button see more
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(class="sm:inline-block block border border-black sm:py-[16px] py-[12px] sm:px-[63px] px-[50px] rounded-[62px]" href="#") Xem tất cả
                div(class="w-full border-b-[1px] border-grey absolute bottom-[-64px]")
        //- SECTION 4
        div(class="bg-white lg:py-[62px] py-[42px]")
            div(class="container sm:px-0 px-[16px] mx-auto  ")
                h2(class="uppercase text-center lg:text-[48px] text-[32px] font-[700] lg:mb-[54px] mb-[32px]" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="150") Giảm giá nhiều
                //- List item
                div(class="grid lg:grid-cols-4 grid-cols-2 gap-[20px] ")
                    //- item
                    div(class="" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="150")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-1.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Áo Thun Nam Đơn Giản
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 120.000đ
                                span(class="hidden mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="hidden text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                    div(class="" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="300")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-2.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Quần Jean Nam Phong Cách
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 480.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                    div(class="" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="450")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-3.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Áo Sơ Mi Caro
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 220.000đ
                                span(class="hidden mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 600.000đ
                                span(class="hidden text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -20%
                    div(class="" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="600")
                        a(href="#")
                            div(class="aspect-square truncate rounded-[20px]")
                                image(src="assets/images/product-4.jpg" class="w-full h-full object-cover") 
                            h2(class="capitalize mt-[20px] font-bold text-[18px] font-[700]") Áo Thun Nam Sọc Cam
                            div(class="mt-[10px]")
                                span(class="md:text-[18px] text-[15px] text-[#FFC633]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    //- 5 star
                                span(class="ml-[13px]") 5/5
                            div(class="flex items-center mt-[10px] flex-wrap")
                                span(class="mr-[10px] md:text-[18px] text-[14px] font-[700]") 126.000đ
                                span(class="mr-[10px] md:text-[14px] text-[12px] opacity-40 line-through") 180.000đ
                                span(class="text-[#FF3333] bg-[#FFEBEB] md:text-[12px] text-[10px] py-[6px] px-[12px] rounded-[62px]") -30%
                //- Button see more
                div(class="text-center lg:mt-[40px] mt-[30px]")
                    a(class="sm:inline-block block border border-black sm:py-[16px] py-[12px] sm:px-[63px] px-[50px] rounded-[62px]" href="#") Xem tất cả
        //- SECTION 5
        div(class="bg-white md:mb-[86px] mb-[40px]")
            div(class="container mx-auto sm:px-0 px-[16px] bg-[#F0F0F0] rounded-[40px] ")
                div(class="md:py-[70px] py-[24px] md:px-[64px] px-[26px]")
                    h2(class="uppercase text-center lg:text-[48px] text-[32px] font-[700] lg:mb-[54px] mb-[32px]" data-aos="zoom-in" data-aos-duration="800"  data-aos-delay="100") Danh mục nổi bật
                    div(class="grid gap-[20px] lg:grid-cols-3 grid-cols-1")
                        div(class="relative truncate rounded-[20px]" data-aos="fade-down" data-aos-duration="800"  data-aos-delay="100")
                            a(class="" href="#")
                                h3(class="absolute md:top-[26px] top-[17px] md:left-[36px] left-[24px] md:text-[36px] text-[24px] font-bold text-black") Đơn giản
                                img(src="assets/images/sec5-simple-1.jpg", alt="" class="w-full md:h-[289px] h-[190px] object-cover")
                        div(class="lg:col-span-2 col-span-1 relative truncate rounded-[20px]" data-aos="fade-left" data-aos-duration="800"  data-aos-delay="200")
                            a(class="" href="#")
                                h3(class="absolute md:top-[26px] top-[17px] md:left-[36px] left-[24px] md:text-[36px] text-[24px] font-bold text-black") Lịch lãm
                                img(src="assets/images/sec5-elegent-2.jpg", alt="" class="w-full md:h-[289px] h-[190px] object-cover")
                        div(class="lg:col-span-2 col-span-1 relative truncate rounded-[20px]" data-aos="fade-right" data-aos-duration="800"  data-aos-delay="300")
                            a(class="" href="#")
                                h3(class="absolute md:top-[26px] top-[17px] md:left-[36px] left-[24px] md:text-[36px] text-[24px] font-bold text-black") Dạ hội
                                img(src="assets/images/sec5-party-3.jpg", alt="" class="w-full md:h-[289px] h-[190px] object-cover")
                        div(class="relative truncate rounded-[20px]" data-aos="fade-up" data-aos-duration="800"  data-aos-delay="400")
                            a(class="" href="#")
                                h3(class="absolute md:top-[26px] top-[17px] md:left-[36px] left-[24px] md:text-[36px] text-[24px] font-bold text-black") Gym
                                img(src="assets/images/sec5-gym-4.jpg", alt="" class="w-full md:h-[289px] h-[190px] object-cover")        
        //- END SECTION 5
        
        //- SECTION 6 Swiper
        div(class="md:pb-[80px] pb-[60px]")
            div(class="container mx-auto sm:px-0 px-[16px] ")
                h2(class="uppercase xl:text-[48px] lg:text-[38px] text-[32px] font-[700] lg:mb-[38px] mb-[32px] text-center") CẢM NHẬN CỦA KHÁCH HÀNG

                div(class="swiper swiper-section-comment")
                    div(class="swiper-wrapper")
                        //- item 
                        div(class="swiper-slide")
                            div(class="md:px-[28px] px-[24px] md:py-[32px] py-[24px] border border-back-100 rounded-[20px]")
                                div(class="md:text-[22px] text-[18px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                div(class="flex items-center md:mb-[12px] mb-[8px]")
                                    span(class="capitalize md:text-[20px] text-[16px] mr-[7px] text-black font-[700]") Le Van A
                                    //- icon here 
                                    <i class="fa-solid fa-circle-check md:w-[20px] w-[16px] md:h-[20px] h-[16px] text-[#01AB31]"></i>
                                //-description
                                div(class="text-black opacity-60 font-[400] md:text-[16px] text-[14px]") "Tôi rất ngạc nhiên trước chất lượng và kiểu dáng của những bộ quần áo từ 14.SHOP. Từ trang phục thường ngày đến trang phục thanh lịch, mọi món đồ tôi mua đều vượt quá sự mong đợi của tôi."
                        div(class="swiper-slide")
                            div(class="md:px-[28px] px-[24px] md:py-[32px] py-[24px] border border-back-100 rounded-[20px]")
                                div(class="md:text-[22px] text-[18px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                div(class="flex items-center md:mb-[12px] mb-[8px]")
                                    span(class="capitalize md:text-[20px] text-[16px] mr-[7px] text-black font-[700]") Le Van B
                                    //- icon here 
                                    <i class="fa-solid fa-circle-check md:w-[20px] w-[16px] md:h-[20px] h-[16px] text-[#01AB31]"></i>
                                //-description
                                div(class="text-black opacity-60 font-[400] md:text-[16px] text-[14px]") "Việc tìm kiếm quần áo phù hợp với phong cách cá nhân của tôi từng là một thử thách cho đến khi tôi khám phá ra 14.SHOP. Hàng loạt lựa chọn mà họ cung cấp thực sự đáng chú ý."
                        div(class="swiper-slide") 
                            div(class="md:px-[28px] px-[24px] md:py-[32px] py-[24px] border border-back-100 rounded-[20px]")
                                div(class="md:text-[22px] text-[18px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                div(class="flex items-center md:mb-[12px] mb-[8px]")
                                    span(class="capitalize md:text-[20px] text-[16px] mr-[7px] text-black font-[700]") Le Van A
                                    //- icon here 
                                    <i class="fa-solid fa-circle-check md:w-[20px] w-[16px] md:h-[20px] h-[16px] text-[#01AB31]"></i>
                                //-description
                                div(class="text-black opacity-60 font-[400] md:text-[16px] text-[14px]") "Là một người luôn tìm kiếm những món đồ thời trang độc đáo, tôi rất vui khi tình cờ biết đến 14.SHOP. Việc lựa chọn quần áo không chỉ đa dạng mà còn bắt kịp xu hướng mới nhất."
                        div(class="swiper-slide") 
                            div(class="md:px-[28px] px-[24px] md:py-[32px] py-[24px] border border-back-100 rounded-[20px]")
                                div(class="md:text-[22px] text-[18px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                div(class="flex items-center md:mb-[12px] mb-[8px]")
                                    span(class="capitalize md:text-[20px] text-[16px] mr-[7px] text-black font-[700]") Le Xanh D
                                    //- icon here 
                                    <i class="fa-solid fa-circle-check md:w-[20px] w-[16px] md:h-[20px] h-[16px] text-[#01AB31]"></i>
                                //-description
                                div(class="text-black opacity-60 font-[400] md:text-[16px] text-[14px]") "Là một người luôn tìm kiếm những món đồ thời trang độc đáo, tôi rất vui khi tình cờ biết đến 14.SHOP. Việc lựa chọn quần áo không chỉ đa dạng mà còn bắt kịp xu hướng mới nhất."
                        div(class="swiper-slide") 
                            div(class="md:px-[28px] px-[24px] md:py-[32px] py-[24px] border border-back-100 rounded-[20px]")
                                div(class="md:text-[22px] text-[18px] text-[#FFC633] md:mb-[15px] mb-[12px]")
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                div(class="flex items-center md:mb-[12px] mb-[8px]")
                                    span(class="capitalize md:text-[20px] text-[16px] mr-[7px] text-black font-[700]") Le Van E
                                    //- icon here 
                                    <i class="fa-solid fa-circle-check md:w-[20px] w-[16px] md:h-[20px] h-[16px] text-[#01AB31]"></i>
                                //-description
                                div(class="text-black opacity-60 font-[400] md:text-[16px] text-[14px]") "Là một người luôn tìm kiếm những món đồ thời trang độc đáo, tôi rất vui khi tình cờ biết đến 14.SHOP. Việc lựa chọn quần áo không chỉ đa dạng mà còn bắt kịp xu hướng mới nhất."

                    //- div(class="swiper-button-next absolute")
                    //- div(class="swiper-button-prev absolute")
                    div(class="swiper-pagination absolute")
                        
        //- END SECTION 6

        //- SECTION 7
        div(class="md:mb-[50px] mb-[40px] relative")
            div(class="container mx-auto sm:px-0 px-[16px]")
                div(class="flex flex-wrap justify-between bg-black md:py-[36px] py-[24px] md:px-[64px] px-[32px] rounded-[20px] ")
                    h2(class="lg:w-[551px] md:w-[297px] w-full text-white font-[700] xl:text-[40px] lg:text-[38px] text-[32px] md:mb-[0] mb-[20px]") CẬP NHẬT VỀ ƯU ĐÃI MỚI NHẤT CỦA CHÚNG TÔI
                    form(class="xl:w-[349px] md:w-[311px] w-full ")
                        div(class="flex relative  py-[12px] bg-white rounded-[62px] md:mb-[14px] mb-[12px] truncate " )
                            input(class="text-black opacity-60 ml-[36px] outline-none mr-[20px] w-full" placeholder="Nhập email của bạn...") 
                            //- icon here
                            <i class="fa-regular fa-envelope text-black absolute mt-[5px] ml-[12px] w-[24px] h-[24px]"></i>
                            
                        button(class="w-full bg-white rounded-[62px] px-[16px] py-[12px] text-black md:text-[16px] text-[14px] font-[500]") Đăng ký nhận tin 
        //- END SECTION 7 

        //- FOOTER
        footer(class="bg-[#F0F0F0] mt-[-140px] pt-[140px]")
            div(class="container mx-auto sm:px-0 px-[16px] ")
              //- list item detail footer 
              div(class="flex flex-wrap justify-between pb-[30px] border-b border-black")
                div(class="lg:w-[248px] w-full lg:mb-[0] mb-[40px]") 
                  div(class="font-[700] text-[34px] lg:mb-[25px] mb-[20px]") 14.SHOP
                  div(class="font-[400] text-[14px] text-black opacity-60 lg:mb-[35px] mb-[20px]") Chúng tôi có những bộ quần áo phù hợp với phong cách của bạn và bạn có thể tự hào khi mặc.
                  div(class="flex")
                    a(class="mr-[12px] w-[28px] h-[28px] inline-flex items-center justify-center rounded-[50%] hover:bg-black bg-white border border-black text-[12px] text-black hover:text-white" href="#")
                      <i class="fa-brands fa-x-twitter"></i>
                    a(class="mr-[12px] w-[28px] h-[28px] inline-flex items-center justify-center rounded-[50%] hover:bg-black bg-white border border-black text-[12px] text-black hover:text-white" href="#")
                      <i class="fa-brands fa-facebook-f"></i>
                    a(class="w-[28px] h-[28px] inline-flex items-center justify-center rounded-[50%] hover:bg-black bg-white border border-black text-[12px] text-black hover:text-white" href="#")
                      <i class="fa-brands fa-instagram"></i>
                div(class="sm:w-[115px] w-[48%] sm:mb-[0] mb-[32px]") 
                  div(class="uppercase") CÔNG TY
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Giới thiệu
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Sản phẩm
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Công việc
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Việc làm
                div(class="sm:w-[115px] w-[48%] sm:mb-[0] mb-[32px]") 
                  div(class="uppercase") TRỢ GIÚP
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Hỗ trợ khách hàng
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Thông tin đơn hàng 
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Điều khoản &#38; Điều kiện
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Việc làm
                div(class="sm:w-[115px] w-[48%]") 
                  div(class="uppercase") FAQ
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Tài khoản
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Quản lý đơn
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Đơn Hàng
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize ") Thanh toán
                div(class="sm:w-[115px] w-[48%]") 
                  div(class="uppercase") TÀI NGUYÊN
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize") Sách miễn phí
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize") Bài viết 
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize") Kiến thức
                  div(class="md:text-[16px] texxt-[14px] font-[400] text-black opacity-60 capitalize") Youtube

              //- payment 
              div(class="sm:flex block justify-between flex-wrap mt-[30px] pb-[60px]")
                div(class="lg:w-auto w-full sm:text-left text-center") 14.SHOP © 2024, All Rights Reserved
                div(class="flex items-center lg:mt-[0] mt-[20px] justify-center")
                    a(class="border border-gray-300  ml-[0px] px-[7px] py-[9px] h-[30px] w-[46px] rounded-[6px] text-center bg-white inline-flex items-center justify-center" href="#") 
                      img(class="object-contain" src="assets/images/Visa.png")
                    a(class="border border-gray-300 sm:ml-[12px] ml-[0px] px-[7px] py-[9px] h-[30px] w-[46px] rounded-[6px]  text-center bg-white inline-flex items-center justify-center" href="#") 
                      img(class="object-contain" src="assets/images/Mastercard.png")
                    a(class="border border-gray-300 sm:ml-[12px] ml-[0px] px-[7px] py-[9px] h-[30px] w-[46px] rounded-[6px]  text-center bg-white inline-flex items-center justify-center" href="#") 
                      img(class="object-contain" src="assets/images/Paypal.png")
                    a(class="border border-gray-300 sm:ml-[12px] ml-[0px] px-[7px] py-[9px] h-[30px] w-[46px] rounded-[6px]  text-center bg-white inline-flex items-center justify-center" href="#") 
                      img(class="object-contain" src="assets/images/ApplePay.png")
                    a(class="border border-gray-300 sm:ml-[12px] ml-[0px] px-[7px] py-[9px] h-[30px] w-[46px] rounded-[6px]  text-center bg-white inline-flex items-center justify-center" href="#") 
                      img(class="object-contain" src="assets/images/GooglePay.png")
                    
        //- END FOOTER
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="../assets/js/script.js" type="module")




                
